@model eConnectWebApp.Models.ViewModels.EmployeeVm

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>



    <div class="form-horizontal">
        <h4>EmployeeVm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.EMPLOYID, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.EMPLOYID, new { @class = "form-control", disabled = "disabled" })

                    @Html.ValidationMessageFor(model => model.EMPLOYID, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.EmployeeTypeID, htmlAttributes: new { @class = "control-label" })
                    <select id="employeeTypeDropDown" name="ACTINDX" class="form-control">
                        <option value="">-- Select type --</option>
                        @foreach (var empType in ViewBag.EmployeeTypeDropDown)
                        {
                            <option value="@empType.EmployeeTypeID">@empType.EmployeeType</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.EmployeeTypeID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.LASTNAME, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="LASTNAME" id="LASTNAME" class="form-control" />
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.FRSTNAME, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="FRSTNAME" id="FRSTNAME" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.MIDLNAME, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="MIDLNAME" id="MIDLNAME" class="form-control" />
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.SOCSCNUM, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="SOCSCNUM" id="SOCSCNUM" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.ADRSCODE, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="ADRSCODE" id="ADRSCODE" class="form-control" />
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.ADDRESS1, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="ADDRESS1" id="ADDRESS1" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.ADDRESS2, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="ADDRESS2" id="ADDRESS2" class="form-control" />
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.ADDRESS3, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="ADDRESS3" id="ADDRESS3" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.PHONE1, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="PHONE1" id="PHONE1" class="form-control" />
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.BRTHDATE, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="BRTHDATE" id="BRTHDATE" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.EmployeeGenderID, htmlAttributes: new { @class = "control-label" })
                    <select id="GenderDropDown" name="ACTINDX" class="form-control">
                        <option value="">-- Select gender --</option>
                        @foreach (var gender in ViewBag.GenderDropDown)
                        {
                            <option value="@gender.EmployeeGenderID">@gender.EmployeeGender</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.EmployeeGenderID, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.DIVISIONCODE, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="DIVISIONCODE" id="DIVISIONCODE" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.DEPRTMNT, htmlAttributes: new { @class = "control-label" })
                    <select id="Gp_DepartmentDropDown" name="ACTINDX" class="form-control">
                        <option value="">-- Select department --</option>
                        @foreach (var department in ViewBag.Gp_DepartmentDropDown)
                        {
                            <option value="@department.DEPRTMNT">@department.DSCRIPTN</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.DEPRTMNT, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.JOBTITLE, htmlAttributes: new { @class = "control-label" })
                    <select id="Gp_JobTitleDropDown" name="ACTINDX" class="form-control">
                        <option value="">-- Select job title --</option>
                        @foreach (var JobTitle in ViewBag.Gp_JobTitleDropDown)
                        {
                            <option value="@JobTitle.JOBTITLE">@JobTitle.DSCRIPTN</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.JOBTITLE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.STRTDATE, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="STRTDATE" id="STRTDATE" class="form-control" />
                </div>
                @*<div class="col-md-6">
                    @Html.LabelFor(model => model.WKHRPRYR, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.WKHRPRYR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WKHRPRYR, "", new { @class = "text-danger" })
                </div>*@
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.EmployeeMaritalStatusID, htmlAttributes: new { @class = "control-label" })
                    <select id="EmployeeMaritalStatusID" name="ACTINDX" class="form-control">
                        <option value="">-- Select status --</option>
                        @foreach (var MaritalStatus in ViewBag.MaritalStatusDropDown)
                        {
                            <option value="@MaritalStatus.EmployeeMaritalStatusID">@MaritalStatus.EmployeeMaritalStatus</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.EmployeeMaritalStatusID, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.LASTDAYWORKED, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="LASTDAYWORKED" id="LASTDAYWORKED" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.TerminationReason, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="TerminationReason" id="TerminationReason" class="form-control" />
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.INACTIVE, htmlAttributes: new { @class = "control-label" })
                    <div class="checkbox">
                        @Html.EditorFor(model => model.INACTIVE)
                        @Html.ValidationMessageFor(model => model.INACTIVE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.DIVISIONCODE_I, htmlAttributes: new { @class = "control-label" })
                    <select id="Gp_DivisionCodeDropDown" name="ACTINDX" class="form-control">
                        <option value="">-- Select division code --</option>
                        @foreach (var DivisionCode in ViewBag.Gp_DivisionCodeDropDown)
                        {
                            <option value="@DivisionCode.DIVISIONCODE_I">@DivisionCode.DIVISION_I</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.DIVISIONCODE_I, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.BIRTHDAY, htmlAttributes: new { @class = "control-label" })
                    <input type="text" name="BIRTHDAY" id="BIRTHDAY" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="padding: 5px">
                <button id="btnCreateEmployee" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#btnCreateEmployee').click(function () {
            console.log("Button clicked");
            Create();
        })

        function Create() {
            var empObject = {
                EMPLOYID: $('#EMPLOYID').val(),
                EmployeeTypeID: $('#employeeTypeDropDown option:selected').val(),
                LASTNAME: $('#LASTNAME').val(),
                FRSTNAME: $('#FRSTNAME').val(),
                MIDLNAME: $('#MIDLNAME').val(),
                SOCSCNUM: $('#SOCSCNUM').val(),
                ADRSCODE: $('#ADRSCODE').val(),
                ADDRESS1: $('#ADDRESS1').val(),
                ADDRESS2: $('#ADDRESS2').val(),
                ADDRESS3: $('#ADDRESS3').val(),
                PHONE1: $('#PHONE1').val(),
                BRTHDATE: $('#BRTHDATE').val(),
                EmployeeGenderID: $('#GenderDropDown option:selected').val(),
                DIVISIONCODE: $('#DIVISIONCODE').val(),
                DEPRTMNT: $('#Gp_DepartmentDropDown option:selected').val(),
                JOBTITLE: $('#Gp_JobTitleDropDown option:selected').val(),
                STRTDATE: $('#STRTDATE').val(),
                EmployeeMaritalStatusID: $('#EmployeeMaritalStatusID option:selected').val(),
                LASTDAYWORKED: $('#LASTDAYWORKED').val(),
                TerminationReason: $('#TerminationReason').val(),
                DIVISIONCODE_I: $('#Gp_DivisionCodeDropDown option:selected').val(),
                BIRTHDAY: $('#BIRTHDAY').val()
            };


            console.log("Sending data:", empObject);
            //alert('Hello'),
            $.ajax({
                url: '/employees/Create',
                data: empObject,
                type: 'post',
                success: function (response) {
                    console.log("Success response:", response);
                    if (response == null || response.length == 0) {
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        console.log("Error response:", response);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown + '-' + textStatus  );
                    //Swal.fire({
                    //    icon: "error",
                    //    title: "Oops...",
                    //    text: errorThrown,
                    //});
                }
            });
        }
    });

</script>

