@model IEnumerable<eConnectWebApp.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FRSTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADRSCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIPCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLCLAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MIDLNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLSUFF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COUNTY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COUNTRY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRTHDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ETHNORGN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIVISIONCODE_I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUPERVISORCODE_I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCATNID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WCACFPAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WKHRPRYR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STRTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEMPINAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RSNEMPIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUTASTAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WRKRCOMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STMACMTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERDEF1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERDEF2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARITALSTATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BENADJDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LASTDAYWORKED_I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIRTHDAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIRTHMONTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPOUSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPOUSESSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NICKNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ALTERNATENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUSCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HRSTATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEOFLASTREVIEW_I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEOFNEXTREVIEW_I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BENEFITEXPIRE_I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HANDICAPPED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VETERAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIETNAMVETERAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISABLEDVETERAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNIONEMPLOYEE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMOKER_I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITIZEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VERIFIED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.I9RENEW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Primary_Pay_Record)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHANGEBY_I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHANGEDATE_I)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNIONCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RATECLSS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEDCLSSCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OTHERVET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Military_Discharge_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultFromClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateIfExists)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequesterTrx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USRDEFND1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USRDEFND2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USRDEFND3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USRDEFND4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USRDEFND5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOCSCNUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPRTMNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JOBTITLE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FRSTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LASTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADRSCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZIPCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLCLAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MIDLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLSUFF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COUNTY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COUNTRY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRTHDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ETHNORGN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIVISIONCODE_I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUPERVISORCODE_I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCATNID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WCACFPAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WKHRPRYR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STRTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEMPINAC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RSNEMPIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUTASTAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WRKRCOMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STMACMTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERDEF1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERDEF2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARITALSTATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BENADJDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LASTDAYWORKED_I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIRTHDAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIRTHMONTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPOUSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPOUSESSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NICKNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALTERNATENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUSCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HRSTATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATEOFLASTREVIEW_I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATEOFNEXTREVIEW_I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BENEFITEXPIRE_I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HANDICAPPED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VETERAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIETNAMVETERAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISABLEDVETERAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNIONEMPLOYEE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SMOKER_I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITIZEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VERIFIED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I9RENEW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primary_Pay_Record)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHANGEBY_I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHANGEDATE_I)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNIONCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RATECLSS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FEDCLSSCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OTHERVET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Military_Discharge_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefaultFromClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateIfExists)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequesterTrx)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USRDEFND1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USRDEFND2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USRDEFND3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USRDEFND4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USRDEFND5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOCSCNUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPRTMNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JOBTITLE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EMPLOYID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EMPLOYID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EMPLOYID })
        </td>
    </tr>
}

</table>
